{{#each errors}}
  <div class="alert alert-danger alert-dismissible">{{text}}
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  </div>
  
{{else}}
{{/each}}

<div class="card card-body">
  <h3>Project Idea</h3>
  <form action="/ideas" method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter title">
  </div>
  <div class="form-group">
    <label for="title">Short Description</label>
    <input type="text" class="form-control" name="details" aria-describedby="titleHelp" placeholder="Enter one line description">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>